# System and IDE files
Thumbs.db
.DS_Store

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Vendors
node_modules/

# Build
dist

.eslintcache

*.tmp
tmp/
